{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock %}

{% block content %}
<a href="{{ url_for('category.create_cat') }}" class="btn">Nueva Categoría</a>
<br>
<table id="categories">
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in cats %}
        <tr>
            <td>{{ cat.id }}</td>
            <td>{{ cat.category }}</td>
            <td>{{ cat.description }}</td>
            <td>
                <a href="{{ url_for('category.update_cat', id=cat.id) }}">
                    <i class="fa fa-pencil"></i>
                </a> --
                <form 
                    method="post"
                    action="{{ url_for('category.delete_cat', id=cat.id) }}">
                    <button 
                        onclick="return confirm('Seguro?')"
                        type="submit">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
    